h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Montserrat;
}

a{
    text-decoration: none;
    font-family: Montserrat;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

button{
    cursor: pointer;
}

.container {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

/* =======================HEADER========================== */

.header-div{
    display: flex;
justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 14px;
}

.logo-a {
    vertical-align: middle;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-decoration: none;
    text-transform: uppercase;
        margin-left: 20px;

        color: #111111;
    }
    

.logo-span{
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.02em; 
}

.svg-logo{
    vertical-align: middle;
} 

.burger-btn{
    border: 0;
    margin-right: 20px;
    background-color: #fff;
    transition: fill 250ms linear;
}

.burger-btn:hover,
.burger-btn:focus{
fill: #FD9222;
}

.header-div-three{
    display: flex;
}

.ul-link-header{
    display: none;
    font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.01em;
        vertical-align: middle;
}


.link-header{
    color: #111111;
}

.link-header:hover,
.link-header:focus{
    color: #FD9222;
}

.ul-svg-header{
    display: none;
    fill: none;
        stroke: #111111;
}

.svg-header:hover,
.svg-header:focus{
stroke: #FD9222;
}

/* =====================ADAPTIVE-HEADER==================== */
/* =======================adaptive-tablet================= */
@media screen and (min-width: 767.98px ) {
    .container{
        max-width: 768px;
    }

    .header-div{
            margin-top: 24px;
            margin-bottom: 32px;
    }

    .burger-btn{
        display: none;
    }

    .logo-a{
        font-size: 18px;
        margin-left: 32px;
    }

        .logo-span{
       font-size: 18px;
        }

        .ul-link-header{
            display: flex;
            align-items: center;
gap: 24px;
            }

    .ul-svg-header{
        display: flex;
        align-items: center;
        gap: 18px;
        margin-right: 32px;
        padding-left: 48px;
        
    }

        .div-ul-svg-header {
            display: flex;
        }
    }
/* =======================/adaptive-tablet================= */
/* =======================adaptive-desptop================= */
@media screen and (min-width: 1023.98px) {
    .container {
            max-width: 1200px;
        }

}
/* =======================/adaptive-desptop================= */
/* =====================/ADAPTIVE-HEADER==================== */
/* =================MODAL-MOBILE=============== */
.modal-mobile{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 999999999;
background-color: #1E1823;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear;
}

.modal-mobile.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}


.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    background-color: #1E1823;
    stroke: #FFFFFF;
    transition: stroke 250ms linear;
}

.close-btn:hover,
.close-btn:focus{
    stroke: #FD9222;
}

.link-mobile{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.01em;
        vertical-align: middle;
        transition: color 250ms linear;
        
    color: #fff;
}

.ul-link-mobile{
    width: 100%;
    padding: 136px 48px;

}

.li-mobile-link{
    margin-bottom: 24px;
}

.link-mobile:hover,
.link-mobile:focus{
    color: #FD9222;
}

.ul-svg-mobile{
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex
}

.svg-mobile{
 margin-right: 18px;   
    fill: none;
    stroke: #FFFFFF;
    transition: stroke 250ms linear;
}

.svg-mobile:hover,
.svg-mobile:focus{
    stroke: #FD9222;
}


/* =================/MODAL-MOBILE=============== */
/* =======================/HEADER========================== */
/* =======================MAIN========================= */
.hero{
    display: flex;
    justify-content: flex-end;
        flex-wrap: wrap;
        flex-direction: column;
   padding-left: 20px;
   padding-right: 20px;
    border-radius: 30px;
        width: 335px;
        height: 620px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#FD9222;
    background-image: linear-gradient(rgba(17, 17, 17, 0.5),rgba(17, 17, 17, 0.5));
    background-image: url(/images/chocolate-hero.jpg);
    color: #fff;

}

.hero-text{
    max-width: 299px;
    height: 72px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.01em;
        margin-bottom: 32px;
}

.btn-hero-one{
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
    border: none;
    background-color: #FD9222;
    color: #fff;
    border-radius: 100px;
        padding: 12px 28px;
        width: 120px;
        height: 41px;
}

.btn-hero-two{
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
    border: 1px solid #fff;
        border-radius: 100px;
        padding: 12px 28px;
        width: 159px;
        height: 41px;


    background-color: transparent;
    color: #fff;

}

.hero-scroll{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 20px;
        font-weight: 500;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: -0.03em;
        color: #fff;
}

.svg-hero{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
}
